<style>
    table,
    th,
    td {
        border: 1px solid;
    }
</style>

<h1>Search Results 📊</h1>

<div id="navigation"><a href="/success">Home</a> — <a href="/logout">Logout</a></div>

<br />

<table>
    <tr>
        <th>Title</th>
        <th></th>
        <th>Review</th>
        <th>Rating</th>
    </tr>

    <% results.forEach(function(results) { %>
        <tr>
            <td>
              <a href="/content?id=<%=results.video%>" id ="resultsLink" _id="<%=results._id%>">
              <%=results.title%>
              </a> </td>
            <td><img src="https://img.youtube.com/vi/<%=results.video%>/default.jpg" alt="" border="3" height="100" width="300"></img></td>
            <td><%= results.review %></td>
            <td><%= results.rating %> / 5 ⭐️</td>
        </tr>
    <% }); %>
</table>

<script>
  function callfucntion(id)
  {
  var data = id; // if more than one data, you can se split()
  }
</script>


